.contents {
  h2 {
    height: 25px; // margin bottom 35 total 60px
  }
  select, input {
    height:30px;
    text-indent:5px;
    padding:0;
    color:black !important;
    font-size:14px;
    &:disabled {
      color:rgb(116, 116, 116) !important;
    }
  }
  .category-button-section {
    //height: 32px; // h2 + section total 92px
    background:#f2f8fd; 
    width:100%; 
    margin:0; 
    padding:0; 
    margin-bottom:50px;
    line-height:50px; 
    button {
      background:#f2f8fd; 
      padding:0 40px;
      &.selected {
        background:white; 
        line-height:50px; 
        border-top:4px solid #0192e9;
      }
    }
  }
  article {
    width: 100%;
    height: calc(100% - 92px);
    &>div {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
}
.contents  {
  overflow-y: auto;
}
.layer-attribute-container {
  display: flex;
  width: 100%;
  height:calc(100% - 180px);
  gap:20px;
  font-family: 'Segoe UI', 'Pretendard', sans-serif;

  input {
    padding: 4px 6px;
    font-size: 13px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
    font-family: 'Segoe UI', 'Pretendard', sans-serif;
    &:focus {              
    border: 1px solid #7BBDFF !important;
    }
  }
  .base-prop-category-container {
    display: flex;
    width: 50%;
    height: 100%;
    background-color:white;
    gap: 3px;
    box-sizing: border-box;
    border-radius:12px;
    
    .base-prop-section, .category-section {
      flex: 1;
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      border-radius:12px;

      .section-header {
        height: 42px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border: 1px solid #D5D5D5;
        background-color: #f3f4f6;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      .section-body {
        flex: 1;
        overflow-y: auto;
        padding: 8px 12px;
        border-left: 1px solid #D5D5D5;
        border-right: 1px solid #D5D5D5;
        border-bottom: 1px solid #D5D5D5;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;        
        .btn-category-add {
          width:100%;
          padding:8px 0;
          border:2px solid #7BBDFF;
          border-radius:10px;
          text-align: center;
          font-size:14px;
          margin-bottom:10px;
          font-family: 'Segoe UI', 'Pretendard', sans-serif;
        }
        .base-prop-box {
          padding: 6px;
          width:100%;          
          margin-bottom: 4px;
          border-radius: 8px;
          background-color: white;          
          border:1px solid #cccccc !important;
          font-size: 14px;
          transition: background-color 0.3s, transform 0.2s;
          border: 1px solid transparent;
          &:hover {
            background-color: #eff6ff;
            transform: translateY(-1px);            
            border: 1px solid #7BBDFF !important;
            cursor: pointer;
          }
        }

        .category-box {
          margin-bottom: 16px;
          padding:0;
          border-radius: 8px;
          border: 1px solid #7BBDFF;

          .category-box-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #eff6ff;
            padding:7px;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            gap:0;
            input[type="text"] {
              width:203px;
              height:30px;
              padding:0;
              font-size:13px !important;
            }
          }

          & > div:first-child {
            font-weight: 600;
            margin-bottom: 8px;
            color: #1f2937;
          }

          .remove-category-button {
            background-color: #A2A2A2;
            width: 24px;
            height: 24px;
            border-radius:30px;
            color: white;
            border: none;
            padding: 0;
            text-align: center;
            font-size: 17px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
              background-color: #f85a45;
            }
          }
          .prop-box-wrapper {
            display: flex;            
            justify-content: space-between;
            align-items: center;
            padding:0 10px;
            gap:0;
          }
          .prop-box {
            width:calc(100% - 30px);
            padding: 4px;
            border-radius: 6px;
            background-color: #f8f8f8;
            //border: 1px solid #e5e7eb;
            margin-bottom: 6px;
            gap: 4px;
            padding:5px 10px;
            font-size: 13px;
            display: flex;
            flex-direction: column;

            .prop-box-header {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .header-right {
                display: flex;
                align-items: center;
              }
            }
            //div {
            //  flex: 1;
            //  text-align: left;
            //  color: #374151;
            //}
            input[type="number"] {
              width: 40px;
              height:24px !important;
              padding:0;
              font-size:13px !important;
            }
            input[type="text"] {
              width: calc(100% - 5px);
              text-indent:5px;
              height:30px !important;
              padding:0;
              font-size:13px !important;
            }

          }
        }
      }
    }
  }

  .attribute-category-container {
    width: 50%;
    height: 100%;
    padding: 0;
    background: #FBFBFB;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 12px;
    border-radius:12px;
    overflow-y: auto;
    .attribute-title {
      font-size:13px;
      height: 42px;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      border-bottom: 1px solid #D5D5D5;
      background-color: #f3f4f6;
    }
    .attribute-body {
      padding:20px;
    }
    .fw-bold {
      font-weight: bold;
    }

    .bg-gray {
      //background: rgb(46, 46, 46);
      //color: white;
      background-color: rgb(232, 232, 232);
      color: black;
    }

    .bg-black {
      //background-color: black;
      //color: white;
      background-color: white;
      color: black;
    }

    .feature-group {
      display: flex;
      width:100%;
      justify-content: center;
      margin-bottom: 20px;
      font-weight: normal;
      div {
        width:100%;
        outline: 1px solid #757575;
      }

      .feature-name {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .properties-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      .properties-item {
        flex-grow: 1;
        width: 25%;
        .properties-label {
          text-align: center;
          padding: 2px;
          outline: 0;
        }
        .properties-value {
          text-align: center;
          padding: 2px;
        }
      }

      .properties-item[data-weight="3"] {
        flex-grow: 3;
        width: 100%;
      }

      .properties-item[data-weight="2"] {
        flex-grow: 2;
        width: 66.6%;
      }

      .properties-item[data-weight="1"] {
        flex-grow: 1;
        width: 33.3%;
      }
    }
  }

  .button-container {
    position: fixed;
    top: 0;
    right: 0;
  }
}