@use 'font';
@use 'setup';

:root {
    @each $size, $value in font.$font-sizes {
        --font-size-#{$size}: #{$value};
    }
    @each $name, $font in font.$font-families {
        --font-family-#{$name}: #{$font};
    }

    // 기본(공통)모드 색상 정의
    --background-color: black;
    --background-color-gray:#373737;
    --background-color-silver:rgba(51, 51, 51, 0.8);  ;
    --background-color-light:#4d4d4d;
    --text-color: rgba(255,255,255,1);  
    --popup-text-color: rgb(29, 29, 29);   
    --text-color-light: rgba(255,255,255,0.7);  
    --text-color-dark: rgba(255,255,255,0.2); 
    --circle-button-color: rgba(255,255,255,0.14);
    --primary-color: rgba(54,140,255,1);
    --secondary-color: rgba(83,150,239,1);
    --primary-bgcolor: rgba(76,143,232,0.25);
    --border-light-color:rgb(217, 217, 217);
    --border-color:rgb(87, 87, 87);
    --nav-color: rgba(16,16,16,1);
    --nav-hover-color:rgba(255,255,255,0.12);
    --slide-bar-color:rgba(16,16,16,0.84);
    --pop-layer-color:rgba(55,55,55,1);
    --icon-current: url('../images/dark-icon.svg');
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    --small-box-shadow: 0 2px 6px rgba(112, 35, 35, 0.3);
    --table-border-color:rgba(250, 250, 250, 0.14); 
    --table-hover-color:rgba(255, 255, 255, 0.08);       
    --table-header-color:rgba(255, 255, 255, 0.07); 
    --prop-bgcolor:rgba(255, 255, 255, 0.17);
    --scrollbar-color:rgba(255, 255, 255, 0.34);
}

// 다크모드 색상 정의
[data-theme='dark']  {
    --background-color: black;
    --background-color-gray:#373737;
    --background-color-silver:rgba(51, 51, 51, 0.8);
    --background-color-light:#4d4d4d;
    --text-color: rgba(255,255,255,1);  
    --popup-text-color: rgb(29, 29, 29);   
    --text-color-light: rgba(255,255,255,0.7);  
    --text-color-dark: rgba(255,255,255,0.2); 
    --circle-button-color: rgba(255,255,255,0.14);
    --primary-color: rgba(54,140,255,1);
    --secondary-color: rgba(83,150,239,1);
    --primary-bgcolor: rgba(76,143,232,0.25);
    --border-light-color:rgb(217, 217, 217);
    --border-color:rgb(87, 87, 87);
    --nav-color: rgba(16,16,16,1);
    --nav-hover-color:rgba(255,255,255,0.12);
    --slide-bar-color:rgba(16,16,16,0.84);
    --pop-layer-color:rgba(55,55,55,1);
    --icon-current: url('../images/dark-icon.svg');
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    --small-box-shadow: 0 2px 6px rgba(112, 35, 35, 0.3);
    --table-border-color:rgba(250, 250, 250, 0.14); 
    --table-hover-color:rgba(255, 255, 255, 0.08);       
    --table-header-color:rgba(255, 255, 255, 0.11); 
    --prop-bgcolor:rgba(255, 255, 255, 0.17);
    --scrollbar-color:rgba(255, 255, 255, 0.34);
}

// 라이트모드 색상 정의
[data-theme='light'] {
    --background-color: white;
    --text-color: rgb(16,16,16,1);
    --primary-color: rgba(54,140,255,1);
    --nav-color: rgb(255, 255, 255);
    --slider-color:rgba(255,255,255,0.84);
    --pop-layer-color:rgba(255,255,255,1);
    --icon-current: url('../images/light-icon.png');
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --small-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@mixin icon-button($position-x, $position-y) {
    background-image: var(--icon-current);
    background-position: $position-x $position-y;
    background-size: 775px 1076px; 
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}


// 레이아웃
html {    
    overflow: hidden;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Montserrat-medium', 'NanumSquareNeo-r', 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}
.map {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .globe {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}

//header
header {
    position: absolute;
    right:10px;
    top:5px;
    .lang-icon {
        position: relative;
        z-index: 1;
        top: -6px;
        right:13px;
        width:28px;
        height:28px;
        border-radius:30px;       
        box-shadow: var(--small-box-shadow);
        &.en {
            @include icon-button(-747px, -72px);   
        }
        &.ko {
            @include icon-button(-747px, 0);   
        }
    }
    .user-icon {
        position: relative;
        z-index: 1;
        width:40px;
        height:40px;
        border-radius:30px;
        background-color: var(--slide-bar-color);
        color:var(--text-color);
        font-family: var(--font-family-light);
        font-size:var(--font-size-regular);      
        box-shadow: var(--small-box-shadow);
    }
}

//nav
nav {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 70px;
    height: auto;
    background-color: var(--nav-color);
    font-family: var(--font-family-regular);
    font-size: var(--font-size-small);
    border-radius: 10px;
    padding:5px 0;
    .menu {
        width: 56px;
        height: 67px;
        margin: 0 auto;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px; 
        &:hover, &.on {
            background-color:var(--nav-hover-color);
            border-radius: 6px;            
            transition: background-color 0.3s, color 0.3s;
        }
        &.assets {
            @include icon-button(17px, -9px);  
        }  
        &.layers {
            @include icon-button(17px, -85px);  
        }     
        &.props {
            @include icon-button(17px, -162px);  
        }      
        .text {
            margin-top: 30px;          
            font-size: var(--font-size-regular);
            text-align: center; 
            font-family: var(--font-family-regular);
        }
        .layer-number {
            position: absolute;
            background:#FB6400;
            top:83px;
            left:42px;
            width:14px;
            height:14px;
            line-height:15px;
            font-family: var(--font-family-regular);
            border-radius:30px;
            color:var(--text-color);
            font-size:var(--font-size-xsmall);
        }
    }
}

//slide-bar
main {
    height:100%;
    width:100%;
    .side-bar {    
        position: absolute;
        left: 80px;
        top: 5px;
        width:410px;
        height:800px;
        z-index:99;
        background-color: var(--slide-bar-color);
        box-shadow: var(--box-shadow);
        border-radius:10px;
        padding:0;
        .side-bar-header {
            margin:0;
            padding:0;
            height: 47px;  
            .button {
                width: 35px;
                height: 47px;
                background-color: transparent;
                box-shadow: none;
                left:0;
                &.side {
                    float:left;
                    margin-left:14px;
                    @include icon-button(0, -480px);  
                }
                &.search {
                    float:right;
                    margin-right:14px;
                    @include icon-button(0, -552px);  
                }
            }                     
        }        
    }
}
.side-bar-wrapper {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:99999;
}
.side:hover .description--content {
    display:block;    
    opacity: 1;
    visibility: visible;
}
.description--content {
    margin:0;
    padding:0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    clear:both;
    position:fixed;
    float:right;
    margin-top:45px;
    margin-left:-35px;
    transition: opacity 0.3s ease;
    .title {
        margin:0;
        padding:0;
        padding:6px 20px;
        border-radius:6px;
        height:auto;
        line-height:18px;
        font-size:var(--font-size-large);
        color:var(--text-color);
        background:var(--background-color-light);
    }
    .title::before {
        content: "";
        position: absolute;
        top: -40%; 
        right: 60%;
        transform: translateX(50%); 
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent var(--background-color-light) transparent; /* 삼각형을 아래쪽을 가리키도록 변경 */
    }
}

//toggleButton
#toggleButton {
    display: none;
}
#toggleButton:checked + .side-bar {
    transform: translateX(-120%);
    transition: 0.4s;
    opacity: 0;
}

//content--wrapper
.content--wrapper {
    position: relative;
    width:92%;
    margin-left:4%;
    margin-right:4%;
    height:calc(100% - 47px);
}

//etc
.float-right {
    float:right;
}
.clear {
    clear:both;
}

//scrollbar
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
    background-color:var(--scrollbar-color);
}
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar {
    width: 6px;
    height:10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    background-color:white;
}


//table
table {
    width: 100%;
    border-collapse: collapse;
}
.y-scroll {   
    overflow-y: scroll !important;
    position: relative;
    height:calc(100% - 100px);
}
.assets-list {
    width:100%; 
    position: relative;
    th {
        position: relative; 
        background-color: var(--table-header-color);
        font-family: var(--font-family-regular); 
        &::after {
            content: '|';
            color:var(--text-color-dark);
            position:absolute;
            top:50%;
            right:0;
            transform: translateY(-50%);
        }
    }
    td {        
        border-bottom:1px solid var(--table-border-color); 
        font-family: var(--font-family-light);
        .name, .date {
            padding:0;  
            margin:0;
            height:16px;
        }
        .date {      
            color:var(--text-color-light);
            margin-bottom:5px;
            font-size:11.5px;
        }
    }
    th, td {
        font-weight: normal !important;    
        text-align:center;
        font-size:var(--font-size-regular);  
        padding:3px 0;
        &:first-child {
            width:12%;
        }  
        &:nth-child(2) {
            width:42%;
            max-width:140px !important;
            text-overflow: ellipsis; 
            overflow: hidden;
            white-space: nowrap;
        }
        &:nth-child(3) {
            width:25%;
        }
        &:last-child {
            width:20%;
            &::after {
                content: '';                
            }
        }
    }
}

//pop-layer
@keyframes slideDown {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.pop-layer {
    display: none;
    position: absolute;
    border-radius:10px;
    background-color: var(--background-color-gray);
    z-index:99999;
    box-shadow: var(--box-shadow);
    animation: slideDown 0.5s forwards;

    &.on {
        display: block;
    }

    &.user {
        right:0;
        //right:10px;
        //top:55px;
        ul {
            padding:12px 0;
            &.user-wrapper {
                padding:6px 0;
                border-top:1px solid var(--table-border-color);
            }
            li {
                font-size: var(--font-size-regular);
                line-height:25px; 
                &.graphic {
                    @include icon-button(-96px, -334px); 
                }   
                &.time {
                    @include icon-button(-96px, -392px); 
                } 
                &.logout {
                    @include icon-button(-96px, -443px); 
                }              
                .text {
                    display: block;
                    color:var(--text-color);   
                    padding:5px 20px 5px 45px;   
                }      
            }
        }
    }
    &.status {
        left:285px;
        top:55px;
    }
    &.lang {
        right:40px;
        top:55px;
    }
    ul {
        padding:8px 0;
        li {
            font-size: var(--font-size-regular);
            line-height:20px;  
            &.selected {
                @include icon-button(-400px, 6px); 
            }
            .text {
                display: block;
                color:var(--text-color);   
                padding:5px 20px 5px 30px;   
            }                      
            &:hover .text {
                background-color: var(--table-hover-color);
                cursor: pointer;
            } 
        }
    }        
}

//layer
ul.layer {
    margin:24px 0 0 0;
    padding:0;
    display: flex;
    li {
        font-size: var(--font-size-large);
        border-radius:7px;
        border:1px solid var(--border-color); 
        font-family: var(--font-family-regular);
        &:hover {
            border:1px solid silver;
        }
        a {
            display: block;
            padding:3px 15px;
        }
        &.selected {
            border:1px solid var(--primary-color);            
        }
        &.button-area {
            float:right;
            margin-top:3px;
            border:none !important;
            margin-left:46px;
            width:80px;
        }
    }
}
.layer-scroll {
    overflow-y: scroll !important;
    position: relative;
    height:calc(100% - 180px);
    margin:5px 0 0 0;
}
.layer-list {
    margin:0 0 0 0;
    padding:0;
    padding-right:5px;
    li {
        background:var(--table-header-color);
        font-size: 12px;
        font-family: var(--font-family-regular);
        text-align:left;
        border-radius:3px;
        margin-bottom:2px;
        display: flex;
        vertical-align: middle;
        line-height: 33px;
        padding:0 0 2px 0;
        &:hover {
            background-color: #284767;
            cursor:pointer;
        }
        .type {
            display: inline-block;
            width:36px; 
            height:30px;
            vertical-align: middle;
            &.type-terrain  {
                @include icon-button(-398px, -337px);   
            }  
            &.type-3d {
                @include icon-button(-400px, -419px);   
            }       
        }
        .name {
            display: inline-block;
            width:245px;
            margin-right:5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .layer-button {
            width:75px;
            margin-left:3px;
        }
    }
}

//prop
ul.prop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:10px;
    width:95%;
    margin:2px auto;
    li {
        width:60px;
        height:57px;
        background-color:var(--prop-bgcolor);
        border-radius:7px;
        border:1px solid var(--prop-color);
        cursor: pointer;
        &:hover {            
            background-color: var(--primary-bgcolor);
        }
        &.selected {
            border:1px solid var(--primary-color);
            outline:1px solid var(--primary-color);
            background-color: var(--primary-bgcolor);
        }
    }
}
.prop-scroll {
    overflow-y: scroll;
    height:calc(100% - 60px);
    margin-top:26px;
}
//button
.table-button {
    font-family: var(--font-family-regular);
    color:var(--text-color);
    line-height:45px;
    vertical-align: middle;
    .new-item {
        display: inline-block;
        width:15px;
        height:15px;
        vertical-align: middle;
        border-radius:30px;
        margin-right:3px;
        margin-top:-3px;
        background-color: var(--circle-button-color);
        @include icon-button(-408px, -177px);          
    }
}
.status-view {
    width:12px;
    height:12px;
    @include icon-button(-408px, -54px); 
    opacity:0.5;   
    &.selected {
        @include icon-button(-408px, -117px); 
        opacity:0.8;   
    }    
}
.status-button {
    padding:3px 10px 3px 10px;
    border-radius:30px;
    font-family: var(--font-family-regular);
    color:var(--text-color);
    text-indent:12px; 
    font-size:var(--font-size-small); 
    letter-spacing: -0.5px;    
    &.sucess {
        background-color:#25c25a;
        @include icon-button(-257px, -176px);         
    }
    &.fail {        
        padding:2px 8px 2px 10px !important;      
        border:1px solid orangered !important;
        color:orangered;
        @include icon-button(-258px, -250px);      
    }
    &.running {
        color:#F3B853;
        padding:1px 8px 3px 8px !important;
        border:1px solid #F3B853 !important;
        @include icon-button(-403px, -241px);  
        font-size:var(--font-size-small);       
    }
}
.function-button {
    width:19px;
    height:20px;
    margin-top:5px;
    margin-left:-2px;
    display: inline-block;
    border-radius:3px;
    opacity:0.8;
    //border:1px solid var(--circle-button-color) !important;
    &:hover {
        background-color: var(--circle-button-color);
        transition: 0.3s;
        opacity: 1;
    }
    &.log {
        @include icon-button(-256px, -3px);  
    }
    &.down {
        @include icon-button(-256px, -51px);    
    }
    &.delete {
        @include icon-button(-259px, -115px);   
    }
}
.layer-funtion-button {
    width:22px;
    height:22px;
    border-radius:5px;
    background:var(--circle-button-color);
    vertical-align: middle;
    &:hover {
        background-color: #276DB4;
    }
    &.visible {
        @include icon-button(-113px, -7px);  
    }
    &.not-visible {
        @include icon-button(-113px, -54px);  
    }
    &.map-view {
        @include icon-button(-114px, -181px);  
    }
    &.delete {
        @include icon-button(-114px, -115px);  
    }
}

//toolbox
.toolbox {
    position: absolute;
    right:10px;
    display: flex;
    flex-direction: column;
    &.control {
        top:230px;
    }
    &.setup {        
        top:370px;
    }
    &.zoom {
        top:590px;
    }
    button {
        background:var(--background-color-silver);
        width:34px;
        height:34px;  
        border-radius:7px;
        margin-bottom:3px;
        box-shadow: var(--small-box-shadow);
        border:1px solid #535353 !important;
        border-bottom:1px solid rgba(131, 131, 131, 0.6) !important;
        &:hover {
            background: #2165A8;
            border: 1px solid #2c82f1 !important;
        }
        &.selected {
            background: #2a77c4;
            border: 1px solid #2c82f1 !important;
        }
        &.visible {
            @include icon-button(-106px, -645px);     
        } 
        &.ruler {
            @include icon-button(-106px, -709px);     
        } 
        &.object {
            @include icon-button(-106px, -779px);     
        } 
        &.full-screen {
            @include icon-button(-107px, -844px);     
        }     
        &.terrain-opacity {
            @include icon-button(-107px, -890px); 
            &.toggle {
                @include icon-button(-180px, -890px); 
            }
        }     
        &.light-mode {
            @include icon-button(-106px, -940px);     
        }    
        &.zoom-in {
            @include icon-button(-105px, -994px);     
        }
        &.zoom-out {
            @include icon-button(-105px, -1059px);     
        }
    }
}
.visible:hover .toolbox-description--content, 
.object:hover .toolbox-description--content, 
.ruler:hover .toolbox-description--content, 
.full-screen:hover .toolbox-description--content, 
.terrain-opacity:hover .toolbox-description--content, 
.light-mode:hover .toolbox-description--content {
    display:block;    
    opacity: 1;
    visibility: visible;
}
.toolbox-description--content {
    margin:0;
    padding:0;
    opacity: 0;
    width: auto;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    clear:both;
    position:relative;
    float:right;
    top:0;
    right:40px;
    transition: opacity 0.3s ease;
    .title {
        margin:0;
        padding:0;
        padding:4px 16px;
        border-radius:5px;
        height:auto;
        line-height:18px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        font-size:var(--font-size-small);
        color:var(--text-color);
        background:var(--background-color-light);
        font-family: var(--font-family-regular);
    }
    .title::before {
        content: "";
        position: absolute;
        top: 50%; 
        right: -7px; 
        transform: translateY(-50%); 
        border-width: 4px;
        border-style: solid;
        border-radius:3px;
        border-color: transparent transparent transparent var(--background-color-light); /* 삼각형을 오른쪽을 가리키도록 변경 */
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(10px);
        opacity: 0.4;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(-10px);
        opacity: 0.4;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.toolbox-poplayer {
    position: absolute;
    right:50px;
    width:auto;
    height:33px;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: slideLeft 0.5s forwards;
    &.control {
        top:230px;
    }
    &.ruler {
        top:267px;
    }  
    &.object {
        top:460px;        
        animation: slideRight 0.5s forwards;
    }      
    button {
        background:var(--background-color-gray);
        width:34px;
        height:34px;  
        display:inline-block;
        border-radius:0;
        margin-bottom:3px;
        box-shadow: var(--small-box-shadow);
        border:1px solid #535353 !important;
        border-right:1px solid rgba(73, 73, 73, 0.6) !important;  
        &:hover {
            background: #2165A8;
            border: 1px solid #2c82f1 !important;
        }
        &.selected {
            background: #2a77c4;
            border: 1px solid #2c82f1 !important;
        } 
        &.my-point, &.point, &.move {       
            width:35px;                       
            border-top-left-radius:7px;              
            border-bottom-left-radius:7px;
        }   
        &.video, &.radius, &.boundary {        
            width:35px;                     
            border-top-right-radius:7px;              
            border-bottom-right-radius:7px;        
        }      
        &.my-point {            
            width:35px;
            @include icon-button(-176px, -644px);   
        } 
        &.indoor {
            @include icon-button(-239px, -643px);       
        } 
        &.position {
            @include icon-button(-302px, -643px);       
        } 
        &.direction {
            @include icon-button(-357px, -642px);       
        } 
        &.video {        
            @include icon-button(-411px, -643px);   
        } 
        &.point {
            @include icon-button(-176px, -709px);   
        } 
        &.length {
            @include icon-button(-240px, -709px);       
        } 
        &.multiple-lengths {
            @include icon-button(-305px, -709px);       
        } 
        &.area {
            @include icon-button(-370px, -709px);       
        } 
        &.multiple-areas {
            @include icon-button(-434px, -709px);       
        } 
        &.height {
            @include icon-button(-497px, -710px);       
        } 
        &.angle {
            @include icon-button(-560px, -709px);       
        } 
        &.radius {
            @include icon-button(-626px, -709px);  
        } 
        &.move {
            @include icon-button(-181px, -781px);    
        } 
        &.rotate {
            @include icon-button(-245px, -781px);       
        } 
        &.scale {
            @include icon-button(-314px, -780px);       
        } 
        &.copy {
            @include icon-button(-374px, -781px);       
        } 
        &.delete {
            @include icon-button(-435px, -781px);       
        } 
        &.raising-floor {
            @include icon-button(-493px, -781px);       
        } 
        &.lowering-floor {
            @include icon-button(-554px, -781px);       
        } 
        &.paint {
            @include icon-button(-618px, -781px);       
        } 
        &.boundary {
            @include icon-button(-680px, -779px);       
        } 
    }
}

.my-point:hover .popuplayer-description--content, 
.indoor:hover .popuplayer-description--content, 
.position:hover .popuplayer-description--content, 
.direction:hover .popuplayer-description--content, 
.video:hover .popuplayer-description--content, 
.point:hover .popuplayer-description--content, 
.length:hover .popuplayer-description--content, 
.multiple-lengths:hover .popuplayer-description--content, 
.area:hover .popuplayer-description--content, 
.multiple-areas:hover .popuplayer-description--content, 
.height:hover .popuplayer-description--content, 
.angle:hover .popuplayer-description--content, 
.radius:hover .popuplayer-description--content, 
.move:hover .popuplayer-description--content, 
.rotate:hover .popuplayer-description--content, 
.scale:hover .popuplayer-description--content, 
.copy:hover .popuplayer-description--content, 
.delete:hover .popuplayer-description--content, 
.delete:hover .popuplayer-description--content, 
.raising-floor:hover .popuplayer-description--content, 
.lowering-floor:hover .popuplayer-description--content, 
.paint:hover .popuplayer-description--content, 
.boundary:hover .popuplayer-description--content {
    display:block;    
    opacity: 1;
    visibility: visible;
}
.popuplayer-description--content {
    margin:0;
    padding:0;
    opacity: 0;
    width:auto;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    clear:both;
    position: absolute;
    top: 130%;
    left:0;
    z-index: 9999;
    transition: opacity 0.3s ease;
    &.length, &.rotate, &.indoor {
        left:35px;
    }
    &.multiple-lengths, &.scale {
        left:calc(35px * 2);
    }
    &.area, &.copy {
        left:calc(35px * 3);
    }
    &.multiple-areas {
        left:calc(35px * 2);
        .title::before {
            left: 50%;
        }
    }
    &.height{
        left:calc(35px * 3);
        .title::before {
            left: 63%;
        }
    }
    &.angle {
        left:calc(35px * 4);
        .title::before {
            left: 65%;
        }
    }
    &.radius{
        left:136px;
        .title::before {
            left: 90%;
        }
    }
    &.delete {
        left:calc(35px * 4);
    }
    &.raising-floor {
        left:150px;
        .title::before {
            left: 50%;
        }
    }
    &.lowering-floor {
        left:calc(35px * 5);
        .title::before {
            left: 50%;
        }
    }
    &.paint {
        left:calc(35px * 6);
        .title::before {
            left: 48%;
        }
    }
    &.boundary {
        left:208px;
        .title::before {
            left: 85%;
        }
    }
    &.position {
        left:52px;
        .title::before {
            left: 30%;
        }
    }
    &.direction {
        left:53px;
        .title::before {
            left: 60%;
        }
    }
    &.video {
        left:65px;
        .title::before {
            left: 84%;
        }
    }
    .title {
        margin:0;
        padding:0;
        width:auto;
        padding:5px 10px;
        border-radius:6px;
        height:auto;
        line-height:15px;
        font-family: var(--font-family-light);
        font-size:var(--font-size-small);
        color:var(--text-color);
        background:var(--background-color-light);
    }
    .title::before {
        content: "";
        position: absolute;
        bottom: 100%; 
        left: 20px;
        transform: translateX(-50%);
        border-width: 4px;
        border-style: solid;
        border-color: transparent transparent var(--background-color-light) transparent; /* 삼각형을 아래쪽을 가리키도록 변경 */
    }
}

//mini-map
.mini-map {
    position: absolute;
    right:97px;
    bottom:10px;
    border:1px solid rgb(231, 231, 231);
    width:180px;
    height:180px;
    border-radius:7px;
    //background:white;
}
//compass 
.compass {    
    position: absolute;
    right:-9px;
    bottom:-9px;
    margin:0;
    padding:0;
    width:116px;
    height:116px;
    background:url(../images/compass.svg) no-repeat;
    background-size:116px 116px;
    .compass-direction {  
        width:116px;
        height:116px;
        margin-left:-1px;
        background:url(../images/compass-direction.svg) center -8px no-repeat;
        background-size:35px 48px;
    }
}


// modal
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 999999;
    justify-content: center;
    align-items: center;
    display: flex;
    .modal-content {
        position: relative;
        background:var(--text-color);
        border-radius:18px;
        color:var(--popup-text-color);
        &.new-asset {
            width:720px;
            height:auto;
            padding-bottom:20px;
        }
    }
    input[type=text] {
        height:30px;
        border-radius:5px;
        
    }
}
.modal-popup-header {
    background:#eeeeee;
    height:55px;
    border-top-left-radius:18px;
    border-top-right-radius:18px;
    h2 {        
        font-size:16px;
        line-height:55px;
        padding-left:45px;
        font-family: var(--font-family-semibold);
    }
    .button-close {
        width:40px;
        height:40px;        
        float:right;
        margin-top:-43px;
        margin-right:15px;
        @include icon-button(-111px, -255px);  
    }
}
.modal-bottom {
    width:100%;
    margin:0 auto;
    .button-full {
        width:94%;
        margin:0 3%;
        background:var(--secondary-color);
        color:var(--text-color);
        font-size:var(--font-size-xlarge);
        border-radius:8px;
        padding:12px 0;      
        font-family: var(--font-family-semibold);  
        &:hover {
            background:black;
            transition: 0.3s;
        }
    }
}
.modal-popup-body {
    padding:30px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 25% 75%;
    line-height:32px;
    .title {
        text-align:right;
        font-size:var(--font-size-xlarge);
        margin-bottom:15px;
        padding-right:30px;
        font-family: var(--font-family-semibold);
    }
    .value {
        font-size:var(--font-size-large);
        margin-bottom:15px;
        label {
            margin-right:16px;
        }
    }
    ul.format-list {
        margin:0;
        padding:0;
        li {
            border-radius:30px;
            font-size:var(--font-size-regular);
            border:1px solid var(--border-light-color) !important;
            padding:1px 8px;
            line-height:22px;
            display: inline-block;
            cursor:pointer;
            &:hover, &.selected {
                color:var(--primary-color) !important;
                border:1px solid var(--primary-color) !important;
            }
        }
    }
}
.width-270 {
    width:270px;
}
.width-400 {
    width:400px;
}
.width-140 {
    width:140px;
    text-align:center;
}

//input-radio
input[type="radio"] {
    display: none;
}
.custom-radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}
input[type="radio"]:checked + .custom-radio {
    background-color:white;
    border: 1px solid var(--primary-color);
    border-width: 4px;
}
.custom-radio::after {
    content: '';
    width: 4px;
    height: 4px;
    background:white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
input[type="radio"]:checked + .custom-radio::after {
    display: block;
}
.radio-label {
    float:left;
    display: flex;
    align-items: center;
}
.radio-label span {
    margin: 0 5px 0 0 ;
}
input[type="text"]:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed; 
}

//input-file
input[type="file"] {
    display: none;
}
.file-upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 140px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s;
}

.file-upload-wrapper:hover {
    border-color: #66afe9;
}
.file-upload-icon {
    width: 50px;
    height: 50px;    
    @include icon-button(10px, -402px);  
    margin-right: 10px;
}

.file-upload-text {
    font-size: 16px;
    color: #666;
}

//search
.hidden {
    display: none;
}
.search-container {
    margin:- 0 0 0;
    height:50px;
}
#searchInput {
    padding: 0;
    margin-top:8px;
    margin-left: 30px;
    position: absolute;
    font-size: 16px;
    width:312px;
    height:34px;
    border-radius:7px;
    border-color:transparent;
    background-color: transparent;
    z-index: 9999;
    color:var(--text-color);
    font-size:var(--font-size-regular);
    font-family: var(--font-family-regular);
}
#searchInput:hover {    
    border:2px solid var(--primary-color);
}
#searchInput:focus {    
    outline:0 !important;
    border:2px solid var(--primary-color);
}

