.flex-column {
  display: flex;
  flex-direction: column;
}

.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  margin:0;
  padding:0;
  gap:0;
  justify-content: space-between;
  z-index: 99;
  width: 100%;
  //.mago3d-logo {
    //width: 115px;
    //height: 24px;
    //background-image: url("../images/mago3d-logo.svg");
    //background-size:115px 24px;
  //}
  h1.logo {
    width:306px;
    height:43px;
    margin-top:-5px;
    background-image: url("../images/logo.svg");
    background-size:306px 44px;

  }
  .header-wrapper {
    width:190px;
    display: flex;
    position: relative;
    flex-direction: rows;
    margin-top:10px;
    gap:10px;
    align-items: center;
  }
  .docs-selector-container {
    position: relative;
    display: flex;
    flex-direction: column;
    button {
      width: 32px;
      height: 32px;
      border-radius: 50px;
      border: 0;
      background-color: transparent;
      background-image: url("../images/icon-help.svg");
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: var(--small-box-shadow) !important;
    }
    .pop-layer {
      top: 50px;
      right: 0;
      flex-direction: column;
      width: 120px;
      overflow: hidden;
      .link-row {
        width: 100%;
        padding: 4px 12px;
        color: white;
        font-size: 12px;
        &:hover {
          background-color: var(--nav-hover-color);
          cursor: pointer;
        }
      }
    }
  }

  .map-selector-container {
    position: relative;
    display: flex;
    flex-direction: column;
    .pop-layer {
      top: 50px;
      right: 0;
    }
  }

  .language-selector-container {
    position: relative;
    display: flex;
    flex-direction: column;
    .lang-icon {
      width:30px;
      height:30px;
      border-radius:30px;
      background:white;
      box-shadow: var(--small-box-shadow);
      &.en, &.en-US {
        //border:1px solid var(--border-light-color) !important;
        @include icon-button(-745px, -80px);
      }
      &.ko, &.ko-KR {
        //border:1px solid var(--border-light-color) !important;
        @include icon-button(-746px, -3px);
      }
      &.ur, &.ur-PK {
        //border:1px solid var(--border-light-color) !important;
        @include icon-button(-742px, -192px);
      }
    }
    .pop-layer {
      position: absolute;
      top: 50px;
      right: 0;
    }
  }

  .sign-info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    .user-icon {
      width:40px;
      height:40px;
      border-radius:30px;
      background-color: var(--slide-bar-color);
      color:var(--text-color);
      font-family: var(--font-family-light);
      font-size:var(--font-size-regular);
      box-shadow: var(--small-box-shadow);
    }
    .pop-layer {
      position: absolute;
      top: 50px;
      right: 0;
    }
  }

}

.spin-loader {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Register Page
.register-wrapper {
  height: 90vh;
  max-height: 740px;

  form {
    height: 100%;
  }

  .register-button {
    margin-top: 12px;
    margin-bottom: 40px;
  }

  .input-error {
    color: red;
    font-size: 14px;
  }
}

// User Page
#container {
  nav{
    z-index: 3;
    top:52px;
    .menu {
      user-select: none;
      &:hover {
        cursor: pointer;;
      }
      .layer-number {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .terrain-number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background:#FB6400;
        top:154px;
        left:42px;
        width:14px;
        height:14px;
        line-height:15px;
        font-family: var(--font-family-regular);
        border-radius:30px;
        color:var(--text-white-color);
        font-size:var(--font-size-xsmall);
      }
    }
  }

  .stack-alert-container {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 80px;
    display: flex;
    flex-direction: column;

    .toast-bar {
      position: unset;
      margin-bottom: 12px;
    }
  }

}

#map {
  .f-size-12 {
    font-size: 12px;
  }

  .cesium-viewer-bottom {
    left: 8px !important;
    bottom: 8px !important;
  }

  .background-map {
    width: 30px;
    height: 30px;
    .span-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px;
      border:1px solid gray;

      &.osm_white {
        background-image: url("../images/osm_white.png");
      }
      &.osm_basic {
        background-image: url("../images/osm_basic.png");
      }
      &.osm_dark {
        background-image: url("../images/osm_dark.png");
      }
      &.vw_sate {
        background-image: url("../images/vw_sate.png");
      }
      &.vw_basic {
        background-image: url("../images/vw_basic.png");
      }
      &.vw_hybrid {
        background-image: url("../images/vw_hybrid.png");
      }
    }

    .map-wrapper {
      //margin: 12px 0 20px;
      height: unset;

      .map-type {
        height: 72px;
        border: unset;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        &:hover {
          border: unset;
          outline: unset;
        }
        img {

          width: 34px;
          height: 34px;
          object-fit: cover;
          border-radius: 8px;
          border:1px solid rgb(250, 250, 250);
          &:hover, &.selected {
            border:1px solid var(--primary-color);
            outline:1px solid var(--primary-color);
          }
        }
        .map-text {
          line-height: unset;
          margin-top: 5px;
        }
      }
    }
    .background-map-select-layer {
      display: none;
    }
    &.expand {
      .background-map-select-layer {
        display: flex;
      }
    }
  }

  .pop-layer-pointer-location {
    position: fixed;
    top: 60px;
    right: 15px;
  }

  /* 2025.02.25 정연화 추가 */
  .pop-layer-legend {
    position: fixed;
    bottom: 140px;
    right: 50px;
    /*background: rgba(255, 255, 255, 0.9);*/
    /*border-radius: 10px;*/
    border-radius:8px;
    background-color: var(--background-color-more-light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 0;
    width: 200px;
    backdrop-filter: blur(5px);
  }
  .pop-layer-legend-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 5px 5px 5px;
    /*border: 1px solid #ddd;*/
    border:1px solid var(--background-color-more-light-02) !important;
    border-radius: 8px;
    /*background: #fff;*/
    /*background-color: var(--background-color-more-light);*/
    background-color: var(--background-color-more-light-03)
  }
  .pop-layer-legend-content p {
    font-size: 13px;
    font-weight: bold;
    /*color: #fff;*/
    color: var(--text-white-color);
    margin: 5px 0;
  }
  .pop-layer-legend-img-wrap {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.7);
  }
  .pop-layer-legend-content img {
    margin: 3px;
    mix-blend-mode: multiply;
    /*width: 100%;*/
    /*height: auto;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
  }
  .pop-layer-legend-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 200px;
  }
  .pop-layer-legend-wrap .legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .pop-layer-legend-wrap .legend-item span {
    font-size: 12px;
    /*font-weight: bold;*/
    /*color: #fff;*/
    color: var(--text-white-color);
  }
  .pop-layer-legend-wrap .color-box {
    width: 16px;
    height: 16px;
    border: 1px solid black;
  }
  /* 범례 색상 */
  .red { background-color: red; }
  .yellow { background-color: gold; }
  .light-green { background-color: lightgreen; }
  .sky-blue { background-color: deepskyblue; }
  .blue { background-color: blue; }
  .brown { background-color: brown; }
  .bright-yellow { background-color: yellow; }
  /* 2025.02.25 정연화 추가 끝 */

  .pop-layer-sub{
    position: absolute;
    top: 440px;
    right: 52px;
    &.measure {
      top: 120px;
    }
    label {
      font-size: 14px;
    }
  }
  .pop-layer-graphic-setting {
    label {
      display: inline-block;
      font-size: var(--font-size-small);
      padding: 2px 10px;
      border-radius: 30px;
      line-height: 18px;
      font-family: var(--font-family-light);
      border: 1px solid var(--border-light-color);
      cursor: pointer;
      &:has(input:checked) {
        font-family: var(--font-family-medium);
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
      }
    }
    .stxt {
      display: block;
      margin-bottom: 8px;
      clear: both;
    }
  }

  .description--content {
    margin-left: unset;
    .title:before {
      right: unset;
      left: 0;
    }
  }

  .prop {
    li {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .data-end-ref {
      display: block;
      grid-column: 1 / -1;
      text-align: center;
    }
  }

  .layer {
    .text {
      display: block;
      padding: 5px 15px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .layer-list li {
    flex-direction: column;
    background: unset;

    &.open-group {

    }
    &.close-group {
      .group-name {
        background-color: #474747;
      }
      .layer-list {
        display: none;
      }
    }

    &.terrain-li {
      flex-direction: row;
    }

    .layer-list {
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }

    .group-node-container {
      .group-node {
        display: flex;
        width: 100%;
        height: 38px;
        &:hover .group-icon, &.selected .group-icon  {
          background:var(--layer-list-hover-color);
        }
        &:hover .group-name, &.selected .group-name  {
          background:var(--layer-list-hover-color);
        }
        .group-icon {
          width: 38px;
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          background:var(--nav-hover-color);
          border-top-left-radius:6px;
          border-bottom-left-radius:6px;
          &.folder-close {
            @include icon-button(-406px, -480px);
          }
          &.folder-open {
            @include icon-button(-406px, -480px);
          }
        }
        &:hover {
          background:var(--layer-list-hover-color);
          border-radius:6px;
        }
        .group-name {
          width: calc(100% - 38px);
          padding: 0;
          display: flex;
          align-items: center;
          background:var(--nav-hover-color);
          border-top-right-radius:6px;
          border-bottom-right-radius:6px;
        }
      }
    }
    .layer-node-container {
      display: flex;
      justify-content: space-between;
      width:calc(100% - 30px);
      //width: calc(100% - 40px);
      //margin: 2px 40px 0px;
      margin-top:2px;
      margin-left:30px;
      border-top-right-radius:6px;
      border-bottom-right-radius:6px;
      background-color: var(--nav-hover-color);
      &:hover {
        background:var(--layer-sblist-hover-color);
      }
      .layer-name {
        width: calc(100% - 114px);
        padding: 0;
        float:left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .modal {

    .modal-popup-body {
      display: block;
    }

    &.on {
      display: flex;
    }
    &.off {
      display: none;
    }

    ::-webkit-scrollbar-thumb {
      background-color: silver;
    }

    .conversion-guard {
      user-select: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: calc(100% - 104px);
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      &.on {
        display: flex;
      }
      &.off {
        display: none;
      }

      .spin-loader {
        width: 40px;
        height: 40px;
      }
      b {
        margin-bottom: 12px;
      }
    }

    .modal-content{
      position: relative;
      padding: 0 0 20px 0;
      display: flex;
      flex-direction: column;

      .modal-full-width, .file-upload-wrapper {
        width: calc(720px - 224px);
      }
      .modal-popup-type {
        display: flex;
        width: 87%;
        margin:0 6.5% 0 6.5%;
        //border-top:1px solid var(--border-light-color);
        .radio-label {
          width:100%;
          .radio-text-span {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 0 10px 0;
            border-bottom:1px solid var(--border-light-color);
            margin: 0;
            font-size:var(--font-size-xlarge);
            border-radius:0;
          }
          input[type="radio"]:checked + .radio-text-span {
            color: black;
            border-bottom: 3px solid var(--secondary-color);
            font-family:var(--font-family-semibold);
            background-color: white;
          }
        }

      }
      .modal-popup-body {
        max-height: calc(100vh - 240px);
        overflow: auto;
        margin-bottom: 40px;
        line-height: unset;
        &.on {
          display: grid;
        }
        &.off {
          display: none;
        }

        .format-list {
          li {
            margin: 0 4px 3px 0;
          }
        }

        input[type=number] {
          height: 30px;
          border-radius: 5px;
          border: 1px solid rgb(219, 219, 219);
          text-indent: 3px;
        }

        .detail-title {
          user-select: none;
          &:hover{
            cursor: pointer;
          }
          &:after {
            margin-left: 8px;
            font-size: 20px;
            color:rgb(153, 153, 153);
            content: "▶"
          }
          &.on:after {
            content: "▼";
          }

        }
        .detail-show-value {
          display: flex;
          flex-direction: column;
          margin-top: 2px;
          .input[type=number] {
            width:100px;
            margin-right:10px !important;
          }
          .toggle-setting-container {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
          }

        }
        .detail-dot-value {
          &:hover{
            cursor: pointer;
          }
        }
        .modal-bottom {
          position: absolute;
          bottom: 10px;
          left: 0;
          .button-full {
            width: calc(100% - 40px);
            margin: 0 20px;
          }
        }
      }
      .radio-label{
        margin-bottom: 8px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .file-upload-container {
      height: unset;
      min-height: 140px;


      .dropzone {
        width: 100%;
        min-height: 140px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
      }
      .file {
        border: 2px solid var(--secondary-color);
        width: 100%;
        display: flex;
        height: 48px;
        padding: 4px;
        margin: 2px;

        .img, .file-delete {
          width: 36px;
          height: 36px;
        }
        .img {
          @include icon-button(-259px, -116px);
        }
        .file-delete {
          @include icon-button(-111px, -255px);
        }
        .img {
          background-position: 8px -18px;
          background-size: 775px 1076px;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer
        }

        .details {
          width: calc(100% - 72px);
          padding: 0 20px;
          .name {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .progress {
            position: relative;
            height: 6px;
            float: left;
            width: 100%;
            background-color: #dbdbdb;
            overflow: hidden;
            margin-top: 0;
            border-radius: 10px;
            .bar {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 13px;
              height: 100%;
              width: 100%;
              background-color: var(--secondary-color);
            }
          }
        }

      }
    }
  }

  .side-bar-wrapper {
    z-index: 2;
    top:48px;
    &.on {
      .side-bar {
        transform: translateX(0);
        transition: 0.4s;
        opacity: 1;
      }
    }

    &.off {
      .side-bar {
        transform: translateX(-120%);
        transition: 0.4s;
        opacity: 0;
      }
    }

    .layer-wrapper {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      .open-group {
        .group-node {
          border: 2px solid #5299F8;
          border-radius: 6px;
        }
        .group-icon {
          height: 34px !important;
        }
      }

      .visible {
        background-color: var(--layer-hover-color);;
      }
      .not-visible {
        background-color: var(--circle-button-color);;
      }

      .tileset-button {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-top: 20px;
        &.off {
          display: none;
        }
      }
      .layer-scroll {
        &.height-plus-44 {
          height: calc(100% - 136px);

          .entity-row {
            font-size: 12px;
            text-align: left;
            border-radius: 3px;
            margin-bottom: 2px;
            margin-right: 6px;
            display: flex;
            vertical-align: middle;
            line-height: 33px;
            flex-direction: row;
            background-color: var(--nav-hover-color);
            padding: 4px;
            justify-content: space-between;

            &:hover {
              background: var(--layer-sblist-hover-color);
            }

            .entity-icon {
              width: 32px;
              height: 32px;
              background-image: var(--icon-current);
              background-position: -408px -419px;
              background-size: 777px 1076px;
              background-repeat: no-repeat;
              border: none;
              cursor: pointer;
            }

            .entity-name {
              width: calc(100% - 112px);
            }

            .entity-buttons {
              width: 76px;
              margin-left: 0;
              padding: 0;
              button {
                width: 22px;
                height: 22px;
                border-radius: 5px;
                background: var(--circle-button-color);
                vertical-align: middle;
                margin-right: 2px;
                margin-top: -3px;
                background-size: 777px 1076px;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;

                &:hover {
                  background-color: var(--layer-hover-color);
                }
              }
              .visible {
                background-image: var(--icon-current);
                background-color: var(--layer-hover-color);
                background-position: -113px -7px;

              }
              .not-visible {
                background-image: var(--icon-current);
                background-position: -113px -55px;
              }
              .map-view {
                background-image: var(--icon-current);
                background-position: -114px -181px;
              }
              .delete {
                background-image: var(--icon-current);
                background-position: -113px -115px;
              }
            }
          }

        }
      }
    }

    .terrain-scroll {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100% - 60px);
      margin-top: 26px;
      .terrain-list {
        li {
          display: flex;
          flex-direction: row;
          background-color: var(--nav-hover-color);
          padding: 4px 0;
          &:hover {
            background: var(--layer-sblist-hover-color);
          }
          &.selected {
            border: 2px solid #5299F8;
          }
          .type {
            margin: 0 8px
          }
        }
      }
    }
  }

  .compass {
    bottom: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
    }

    .compass-direction {
      margin: 0;
    }
  }

  .assets-list {

    .status-th {
      &:hover {
        cursor: pointer;
      }

      &.on {
        .status-view {
          @include icon-button(-408px, -117px);
          opacity:0.8;
        }
        .pop-layer {
          display: block;
        }
      }

      .status-view {
        display: inline-block;
        width:12px;
        height:12px;
        @include icon-button(-408px, -54px);
        opacity:0.5;

      }

      .pop-layer {
        &.status {
          left: 0;
          top: 27px;
          .text {
            display: block;
            color: var(--text-color);
            padding: 5px 20px 5px 30px;
          }
        }
      }
    }
  }
}


/* cool check box css */
.checkbox-wrapper-9 {
  width:42px !important;
  .tgl {
    display: none;
    box-sizing: border-box;
    &:after {
      box-sizing: border-box;
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    &:before {
      box-sizing: border-box;
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    * {
      box-sizing: border-box;
      &:after {
        box-sizing: border-box;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
      }
      &:before {
        box-sizing: border-box;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
      }
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    + {
      .tgl-btn {
        box-sizing: border-box;
        outline: 0;
        display: block;
        width: 32px;
        height: 19px;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
        &:after {
          position: relative;
          display: block;
          content: "";
          width: 15px;
          height: 15px;
          box-shadow: var(--xsmall-box-shadow);
        }
        &:before {
          position: relative;
          display: block;
          content: "";
          width: 15px;
          height: 15px;
          display: none;
        }
      }
    }
    &::-moz-selection {
      background: none;
    }
    &::selection {
      background: none;
    }
    &:checked {
      + {
        .tgl-btn {
          &:after {
            left: 50%;
          }
        }
      }
    }
  }
  .tgl-flat {
    + {
      .tgl-btn {
        padding: 1px;
        transition: all 0.2s ease;
        background: #e0e0e0;
        border: 1px solid #e0e0e0;
        border-radius: 30px;
        &:after {
          transition: all 0.2s ease;
          background: white;
          content: "";
          border-radius: 30px;
        }
      }
    }
    &:checked {
      + {
        .tgl-btn {
          background: var(--primary-color);
          border: 1px solid var(--primary-color);
          &:after {
            left: 47%;
            background: white;
          }
        }
      }
    }
  }
}

//location-search
/* 2025.02.21 정연화 추가, 김선영수정*/
.location-search {
  position: absolute;
  top: 8px;
  right: 200px;
  width: 360px;
  height: 40px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.79);
  z-index: 9999;
  #location-searchInput {
      padding: 0;
        font-size: var(--font-size-xlarge);
        font-family: var(--font-family-medium);
        text-indent:20px;
        width:100%;
        height:100%;
        background: transparent;
        border:inherit;
        color:white !important;
        border-radius:30px;
        z-index: 9999;
        &:focus {          
          border:1px solid var(--primary-color);
          outline:1px solid var(--primary-color);
          border: 0;
        }
  }  
}
.location-search .button {
  width: 33px;
  height: 33px;
  margin-left: -76px;
  position: absolute;
  cursor: pointer;
}
.location-search .button.common-search {
  margin-left: -48px;
  background-image: url(../images/basic-icon.svg);
  background-position: -260px -551px;
  background-size: 435px 800px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}
.location-search .button.common-search.selected {
  background-image: url(../images/basic-icon.svg);
  background-position: -342px -551px;
  background-size: 435px 800px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.location-search .button.cancel-search {
  margin-left: -80px;
  background-image: url(../images/basic-icon.svg);
  background-position: 10px -632px;
  background-size: 435px 800px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}
.location-search .button.detail-search {
  margin-left: -45px;
  background-image: url(../images/basic-icon.svg);
  background-position: -270px -607px;
  background-size: 435px 800px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}
.location-search .button.detail-search.selected {
  background-image: url(../images/basic-icon.svg);
  background-position: -345px -607px;
  background-size: 435px 800px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.location-search .button:hover {
  opacity: 1;
}
.search-condition {
  display: flex;
  flex-direction: column;
}
.search-condition .condition-list {
  margin-bottom: 3px;
  display: flex;
  justify-content: flex-start;
}
.search-condition label {
  font-size: var(--font-size-large);
  width: 80px;
  line-height: 30px;
}
.search-condition .custom-select {
  width: auto;
  min-width: 80px;
  max-width: 150px;
  font-size: var(--font-size-large);
}

.sub-tabmenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.sub-tabmenu button {
  line-height: 34px;
  border-radius: 7px;
  border: 0;
  background: #3A3A3A;
  flex: 1;
  font-size: var(--font-size-2xlarge);
  color: white;
  font-family: var(--font-family-regular);
}
.sub-tabmenu button:hover {
  color: rgb(211, 245, 70);
}
.sub-tabmenu button.selected {
  color: rgb(211, 245, 70);
  border: 1px solid rgb(211, 245, 70);
  background: transparent;
}

.location-search-result {
  position: absolute;
  width: 360px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.79);
  height: auto;
  margin-top: 3px;
  animation: slideDown 0.5s forwards;
  padding: 10px 10px 10px 15px;
  z-index: 9999;
}
.location-search-result ul.location-search-result-list {
  margin: 0;
  padding: 0 3px 10px 0;
  width: auto;
  height: 600px;
  overflow-y: scroll;  
  font-family: var(--font-family-light);
}
.location-search-result ul.location-search-result-list li {
  width: 100%;
  font-size:14px;
  display: flex;
  flex-direction: row;
  text-indent:5px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.4);
}
.location-search-result ul.location-search-result-list li:last-child {
  border-bottom: none;
}
.location-search-result ul.location-search-result-list li .result {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 6px 0;
  .address {
    color:rgb(167, 167, 167);
    font-family: var(--font-family-regular);
  }
}
.location-search-result ul.location-search-result-list li .result:hover {
  background: rgba(155, 155, 155, 0.25);
  transition: 0.3s;
}