.spin-loader {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#map {

  header {
    display: flex;
    .pop-layer {
      margin-top: 52px;
      right: 0;
      top: 0;
      &.lang {
        margin-right: 52px;
      }
    }
  }
  .modal {

    &.on {
      display: flex;
    }
    &.off {
      display: none;
    }

    ::-webkit-scrollbar {
      background-color: var(--secondary-color);
    }
    ::-webkit-scrollbar-thumb {
      background-color: var(--secondary-color);
    }
    .modal-content{
      position: relative;
      padding: 0 0 20px 0;
      display: flex;
      flex-direction: column;

      .f-size-12 {
        font-size: 12px;
      }
      .modal-full-width, .file-upload-wrapper {
        width: calc(720px - 224px);
      }
      .modal-popup-type {
          display: flex;
        .radio-label {
          width: 100%;
          margin-bottom: 0;
          .radio-text-span {
            width: 100%;
            display: flex;;
            justify-content: center;
            align-items: center;
            padding: 8px 0 12px 0;
            border: 1px solid white;
            border-top: 4px solid transparent;
            margin: 0;
            background-color: #e6e6e6;
          }

          input[type="radio"]:checked + .radio-text-span {
            color: black;
            border-top: 4px solid var(--secondary-color);
            background-color: white;
          }
        }

      }
      .modal-popup-body {
        max-height: calc(100vh - 240px);
        overflow: auto;
        margin-bottom: 40px;
        line-height: unset;
        &.on {
          display: grid;
        }
        &.off {
          display: none;
        }

        .format-list {
          margin-bottom: 8px;
          li {
            margin: 0 4px 8px;
          }
        }

        input[type=number] {
          height: 30px;
          border-radius: 5px;
          border: 1px solid rgb(219, 219, 219);
          text-indent: 3px;
        }

        .detail-title {
          user-select: none;
          &:hover{
            cursor: pointer;
          }
          &:after {
            margin-left: 8px;
            font-size: 20px;
            content: "◀"
          }
          &.on:after {
            content: "▼";
          }

        }
        .detail-show-value {
          display: flex;
          flex-direction: column;
          margin-top: 4px;
          .toggle-setting-container {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
          }

        }
        .detail-dot-value {
          &:hover{
            cursor: pointer;
          }
        }
        .modal-bottom {
          position: absolute;
          bottom: 10px;
          left: 0;
          .button-full {
            width: calc(100% - 40px);
            margin: 0 20px;
          }
        }
      }
      .radio-label{
        margin-bottom: 8px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .file-upload-container {
      height: unset;
      min-height: 140px;


      .dropzone {
        width: 100%;
        min-height: 140px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
      }
      .file {
        border: 2px solid var(--secondary-color);
        width: 100%;
        display: flex;
        height: 48px;
        padding: 4px;
        margin: 2px;
        .img, .file-delete {
          width: 36px;
          height: 36px;
        }
        .img {
          background-image: url('/geomatic-user/src/assets/images/light-icon.svg');
          background-position: 8px -18px;
          background-size: 775px 1076px;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer
        }

        .details {
          width: calc(100% - 72px);
          padding: 0 20px;
          .name {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .progress {
            position: relative;
            height: 6px;
            float: left;
            width: 100%;
            background-color: #dbdbdb;
            overflow: hidden;
            margin-top: 0;
            border-radius: 10px;
            .bar {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 13px;
              height: 100%;
              width: 100%;
              background-color: var(--secondary-color);
            }
          }
        }

      }
    }
  }

  .side-bar-wrapper {
    &.on {
      .side-bar {
        transform: translateX(0);
        transition: 0.4s;
        opacity: 1;
      }
    }

    &.off {
      .side-bar {
        transform: translateX(-120%);
        transition: 0.4s;
        opacity: 0;
      }
    }
  }

  .function-button {
    &.convert {
      @include icon-button(-257px, -176px);
    }
  }

  .compass {
    bottom: 12px;
    right: 12px;

    &:hover {
      cursor: pointer;
    }

    .compass-direction {
      margin: 0;
    }
  }

  .assets-list {

    .status-th {
      &:hover {
        cursor: pointer;
      }

      &.on {
        .status-view {
            @include icon-button(-408px, -117px);
            opacity:0.8;
        }
        .pop-layer {
          display: block;
        }
      }

      .status-view {
        display: inline-block;
        width:12px;
        height:12px;
        @include icon-button(-408px, -54px);
        opacity:0.5;

      }

      .pop-layer {
        &.status {
          left: 0;
          top: 32px;
          .text {
            display: block;
            color: var(--text-color);
            padding: 5px 20px 5px 30px;
          }
        }
      }
    }
  }
}


/* cool check box css */
.checkbox-wrapper-9 {
  .tgl {
    display: none;
    box-sizing: border-box;
    &:after {
      box-sizing: border-box;
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    &:before {
      box-sizing: border-box;
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    * {
      box-sizing: border-box;
      &:after {
        box-sizing: border-box;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
      }
      &:before {
        box-sizing: border-box;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
      }
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    + {
      .tgl-btn {
        box-sizing: border-box;
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
        &:after {
          position: relative;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
          left: 0;
        }
        &:before {
          position: relative;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
          display: none;
        }
      }
    }
    &::-moz-selection {
      background: none;
    }
    &::selection {
      background: none;
    }
    &:checked {
      + {
        .tgl-btn {
          &:after {
            left: 50%;
          }
        }
      }
    }
  }
  .tgl-flat {
    + {
      .tgl-btn {
        padding: 2px;
        transition: all 0.2s ease;
        background: #fff;
        border: 4px solid #d1d1d1;
        border-radius: 2em;
        &:after {
          transition: all 0.2s ease;
          background: #d1d1d1;
          content: "";
          border-radius: 1em;
        }
      }
    }
    &:checked {
      + {
        .tgl-btn {
          border: 4px solid var(--secondary-color);
          &:after {
            left: 50%;
            background: var(--secondary-color);
          }
        }
      }
    }
  }
}


/*graphic setting modal*/
.default-layer.option-tool {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  font-size: 11px;
  color: black;

  header {
    position: unset;
  }

  h2 {
    font-size: 12px;
    font-weight: 600;
    margin: -1px;
    padding: 12px 15px;
    border-radius: 8px 8px 0 0;
    background-color: #6564d5;
    color: #fff;
    width: unset;
    float: unset;
    height: unset;
    border-bottom: unset;
  }

  button.close {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: bolder;
    background: none;
    color: #fff;
    cursor: pointer;
    margin: unset;
    width: unset;
    height: unset;
  }

  span.minimize {
    width: 13px;
    height: 2px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
    transform: translateY(-50%);
  }

  * {
    text-align: left;
  }

  .group {
    padding: 15px 10px 30px;
    display: block;

    > div {
      text-align: left;
      padding: 0 15px;
      display: inline-block;
    }
  }

  h3 {
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0;
  }

  p {
    font-size: 11px;
    margin: 5px 0;
  }

  .group > div {
    label {
      padding: 5px 10px;
      background-color: #f8f8f8;
      border-radius: 30px;
      border: 1px solid rgba(60, 60, 60, 0.12);
      cursor: pointer;
      display: inline-block;
      margin: 5px 5px 5px 0;
    }

    input[type=radio] {
      margin: 5px;
      display: none;
    }

    label:has(input[type=radio]:checked) {
      background-color: #f8f8f8;
      border: 1px solid #6564d5;
      color: #6564d5;
      font-weight: 700;
    }
  }
}


/*camera info modal*/
.default-layer.camera-tool {
  position: absolute;
  top: 120px;
  right: 10px;
  z-index: 1;
  padding: 5px;
  font-size: 11px;

  h3 {
    font-size: 12px;
    padding: 5px 6px;
    font-weight: bold;
  }

  label {
    height: 15px;
    display: block;
    position: relative;
    margin: 2px 5px;

    > span {
      font-weight: bold;
    }
  }
}

/*clock*/
.default-layer {
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 3px 2px #00000012;
  border: 1px solid rgba(60, 60, 60, 0.12);
  background-color: #f8f8f8;
  min-width: 10px;
  min-height: 10px;
  z-index: 10;
  opacity: .9;
  line-height: 1;
  color: black;

  &.clock {
    position: absolute;
    top: 56px;
    right: 160px;
    padding: 5px;

    > input {
      &[type=date], &[type=time] {
        padding: 5px;
        margin: 3px;
        height: 20px;
        font-size: 11px;
        text-align: center;
      }
    }

    .close {
      text-align: right;
      &:hover {
        cursor: pointer;
      }
    }

    input[type=number] {
      padding: 5px;
      margin: 3px;
      height: 20px;
      font-size: 11px;
      text-align: center;
    }

    label {
      font-size: 11px;
      padding: 5px;
    }
  }

  input[type=range] {
    vertical-align: middle;
    display: inline-block;
    margin: 5px;
    width: 100px;
  }

  &.clock {
    > div {
      text-align: center;
    }

    button {
      display: inline-block;
      font-size: 12px;
      vertical-align: middle;
      padding: 5px 8px;
      margin: 0 2px;

      > img {
        padding: 1px !important;
        margin: 0 !important;
      }
    }
  }

  img {
    min-height: 8px;
    min-width: 8px;
    vertical-align: middle;
    filter: invert(26%) sepia(46%) saturate(401%) hue-rotate(170deg) brightness(93%) contrast(95%);
  }
}

img.icon-24 {
  width: 24px;
  height: 24px;
}


// measure tool
.dialog-distance {
  background-color: black;
  padding: 12px;
  border-radius: 12px;

  position: absolute;
  top: 312px;
  right: 62px;
  width: 290px;
  height: auto;

  .dialog-result {
    float: left;
    height: auto;
    display: block;
    clear: both;
    line-height: 30px;
    width: 88%;
    padding: 0;
    margin-left: 7.5%;
  }

  .dialog-result-02 {
    float: left;
    height: auto;
    display: block;
    clear: both;
    line-height: 30px;
    width: 88%;
    margin: 20px 0 0 7.5% !important;
  }

  .dialog-result-text {
    clear: both;
    float: left;
    width: 70px;
    font-size: 12px;
    color: white;
    line-height: 30px;
    background: transparent;
  }

  .dialog-result-value {
    width: 150px;
    float: left;
    color: #03d6d6;
    font-size: 12px;
  }
}

.dialog-content > label {
  font-size: 12px;
  float: left;
  width: 70px;
  color: white;
  line-height: 34px;
  background: transparent;

  &.short {
    font-size: 12px;
    float: left;
    width: 40px !important;
  }
}

select {
  font-size: 12px;
  background: transparent;
  border-radius: 3px;
  border: 1px solid #585858;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  width: 98%;
  margin: 0 auto;
  border: 1px solid #5a5a5a;
  background: transparent;
  font-size: 12px;
}

.darkMode {
  select {
    width: auto;
    padding-right: 30px;
    margin-bottom: 5px;
    font-size: 12px;
    background: black;
    color: white;
    padding-left: 3px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #585858;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 0;
    }

    option {
      color: white;
      background: black;
      padding-left: 3px;
    }
  }

  input[type="text"] {
    color: white;
    font-size: 11px;
    background: transparent;
    text-indent: 3px;
    border: 1px solid #c2c2c2;
    line-height: 38px !important;
    height: 32px;
    border-radius: 4px;
  }
}

.dialog-registerPoint {
  position: absolute;
  top: 100px;
  right: 70px;
  width: 320px;
  height: auto;
}

.dialog-content > {
  ul.pointer {
    margin: 0;
    padding: 0;
  }

  .pointer-list {
    border: 1px solid #5a5a5a;
    width: 100%;
    text-indent: 3px;
    font-size: 12px;
    color: white;
    height: 100px;
    overflow-y: auto;

    ul li {
      color: rgb(230, 230, 230);
      font-size: 12px;
      text-indent: 5px;
      line-height: 24px;
    }
  }
}

.button-delete {
  float: right;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.dialog-content > ul.pointer li {
  float: left;
  width: 33.1%;
  border-radius: 3px;
  line-height: 34px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-indent: 22px;
  border: 1px solid #5a5a5a;
  font-size: 13px;

  a {
    color: white;
    display: block;
  }

  &.on a {
    color: #03d6cb;
    font-weight: 600;
  }

  &:hover {
    border: 1px solid #03d6cb;
  }
}
