.spin-loader {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#container {
  nav{
    z-index: 3;
    .menu {
      user-select: none;
      .layer-number {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .terrain-number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background:#FB6400;
        top:154px;
        left:42px;
        width:14px;
        height:14px;
        line-height:15px;
        font-family: var(--font-family-regular);
        border-radius:30px;
        color:var(--text-white-color);
        font-size:var(--font-size-xsmall);
      }
    }
  }

  .stack-alert-container {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 80px;
    display: flex;
    flex-direction: column;

    .toast-bar {
      position: unset;
      margin-bottom: 12px;
    }
  }

}

#map {
  .f-size-12 {
    font-size: 12px;
  }

  .cesium-viewer-bottom {
    left: 8px !important;
    bottom: 8px !important;
  }

    .background-map {
      .map-wrapper {
        margin: 12px 0 20px;
        height: unset;
        .map-type {
          border: unset;
          display: flex;
          flex-direction: column;
          position: relative;
          justify-content: center;
          align-items: center;
          &:hover {
            border: unset;
            outline: unset;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            border:1px solid rgb(250, 250, 250);
            &:hover, &.selected {
              border:1px solid var(--primary-color);
              outline:1px solid var(--primary-color);
            }
          }
          .map-text {
            line-height: unset;
            margin-top: 5px;
          }
        }
      }
      .background-map-select-layer {
        display: none;
      }
      &.expand {
        .background-map-select-layer {
          display: flex;
        }
      }
    }


.pop-layer-sub{
  position: absolute;
  top: 440px;
  right: 52px;
  &.measure {
    top: 256px;
  }
  label {
    font-size: 14px;
  }
}
  .pop-layer-graphic-setting {
    label {
      display: inline-block;
      font-size: var(--font-size-small);
      padding: 2px 10px;
      border-radius: 30px;
      line-height: 18px;
      font-family: var(--font-family-light);
      border: 1px solid var(--border-light-color);
      cursor: pointer;
      &:has(input:checked) {
        font-family: var(--font-family-medium);
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
      }
    }
    .stxt {
      display: block;
      margin-bottom: 8px;
      clear: both;
    }
  }

  .description--content {
      margin-left: unset;
    .title:before {
      right: unset;
      left: 0;
    }
  }

  .prop {
    li {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .data-end-ref {
      display: block;
      grid-column: 1 / -1;
      text-align: center;
    }
  }

  .layer {
    .text {
      display: block;
      padding: 5px 15px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .layer-list li {
    flex-direction: column;
    background: unset;

    &.open-group {

    }
    &.close-group {
      .group-name {
        background-color: #474747;
      }
      .layer-list {
        display: none;
      }
    }

    &.terrain-li {
      flex-direction: row;
    }

    .layer-list {
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }

    .group-node-container {
      .group-node {
        display: flex;
        width: 100%;
        height: 38px;
        &:hover .group-icon, &.selected .group-icon  {
          background:var(--layer-list-hover-color); 
        }        
        &:hover .group-name, &.selected .group-name  {
          background:var(--layer-list-hover-color);
        }
        .group-icon {
          width: 38px;
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;      
          background:var(--nav-hover-color);    
          border-top-left-radius:6px;  
          border-bottom-left-radius:6px;
          &.folder-close {
            @include icon-button(-406px, -480px);
          }   
          &.folder-open {
            @include icon-button(-406px, -480px);
          }          
        }        
        &:hover {
          background:var(--layer-list-hover-color);
          border-radius:6px;
        }
        .group-name {
          width: calc(100% - 38px);
          padding: 0;
          display: flex;
          align-items: center;
          background:var(--nav-hover-color); 
          border-top-right-radius:6px;  
          border-bottom-right-radius:6px;
        }
      }
    }
    .layer-node-container {
      display: flex;
      justify-content: space-between;
      width:calc(100% - 30px);
      //width: calc(100% - 40px);
      //margin: 2px 40px 0px;
      margin-top:2px;
      margin-left:30px;
      border-top-right-radius:6px;
      border-bottom-right-radius:6px;
      background-color: var(--nav-hover-color);   
      &:hover {
        background:var(--layer-sblist-hover-color);
      }   
        .layer-name {
          width: calc(100% - 114px);
          padding: 0;
          float:left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
    }
  }

  header {
    display: flex;
    .pop-layer {
      margin-top: 52px;
      right: 0;
      top: 0;
      &.lang {
        margin-right: 30px;
      }
    }
  }
  .modal {

    .modal-popup-body {
      display: block;
    }

    &.on {
      display: flex;
    }
    &.off {
      display: none;
    }

    ::-webkit-scrollbar-thumb {
      background-color: silver;
    }

    .conversion-guard {
      user-select: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: calc(100% - 104px);
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      &.on {
        display: flex;
      }
      &.off {
        display: none;
      }

      .spin-loader {
        width: 40px;
        height: 40px;
      }
      b {
        margin-bottom: 12px;
      }
    }

    .modal-content{
      position: relative;
      padding: 0 0 20px 0;
      display: flex;
      flex-direction: column;

      .modal-full-width, .file-upload-wrapper {
        width: calc(720px - 224px);
      }
      .modal-popup-type {
          display: flex;
          width: 87%;
          margin:0 6.5% 0 6.5%;
          //border-top:1px solid var(--border-light-color);
        .radio-label {
          width:100%;
          .radio-text-span {
            width: 100%;
            display: flex;            
            justify-content: center;
            align-items: center;
            padding: 25px 0 10px 0;
            border-bottom:1px solid var(--border-light-color);
            margin: 0;        
            font-size:var(--font-size-xlarge);
            border-radius:0;
          }
          input[type="radio"]:checked + .radio-text-span {
            color: black;
            border-bottom: 3px solid var(--secondary-color);
            font-family:var(--font-family-semibold);
            background-color: white;
          }
        }

      }
      .modal-popup-body {
        max-height: calc(100vh - 240px);
        overflow: auto;
        margin-bottom: 40px;
        line-height: unset;
        &.on {
          display: grid;
        }
        &.off {
          display: none;
        }

        .format-list {
          li {
            margin: 0 4px 3px 0;
          }
        }

        input[type=number] {
          height: 30px;
          border-radius: 5px;
          border: 1px solid rgb(219, 219, 219);
          text-indent: 3px;
        }

        .detail-title {
          user-select: none;
          &:hover{
            cursor: pointer;
          }
          &:after {
            margin-left: 8px;
            font-size: 20px;
            color:rgb(153, 153, 153);
            content: "▶"
          }
          &.on:after {
            content: "▼";
          }

        }
        .detail-show-value {
          display: flex;
          flex-direction: column;
          margin-top: 2px;
          .input[type=number] {
            width:100px;
            margin-right:10px !important;
          }
          .toggle-setting-container {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
          }          

        }
        .detail-dot-value {
          &:hover{
            cursor: pointer;
          }
        }
        .modal-bottom {
          position: absolute;
          bottom: 10px;
          left: 0;
          .button-full {
            width: calc(100% - 40px);
            margin: 0 20px;
          }
        }
      }
      .radio-label{
        margin-bottom: 8px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .file-upload-container {
      height: unset;
      min-height: 140px;


      .dropzone {
        width: 100%;
        min-height: 140px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
      }
      .file {
        border: 2px solid var(--secondary-color);
        width: 100%;
        display: flex;
        height: 48px;
        padding: 4px;
        margin: 2px;
        .img, .file-delete {
          width: 36px;
          height: 36px;
        }
        .img {
          background-position: 8px -18px;
          background-size: 775px 1076px;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer
        }

        .details {
          width: calc(100% - 72px);
          padding: 0 20px;
          .name {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .progress {
            position: relative;
            height: 6px;
            float: left;
            width: 100%;
            background-color: #dbdbdb;
            overflow: hidden;
            margin-top: 0;
            border-radius: 10px;
            .bar {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 13px;
              height: 100%;
              width: 100%;
              background-color: var(--secondary-color);
            }
          }
        }

      }
    }
  }

  .side-bar-wrapper {
    z-index: 2;
    &.on {
      .side-bar {
        transform: translateX(0);
        transition: 0.4s;
        opacity: 1;
      }
    }

    &.off {
      .side-bar {
        transform: translateX(-120%);
        transition: 0.4s;
        opacity: 0;
      }
    }
  }

  .compass {
    bottom: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
    }

    .compass-direction {
      margin: 0;
    }
  }

  .assets-list {

    .status-th {
      &:hover {
        cursor: pointer;
      }

      &.on {
        .status-view {
            @include icon-button(-408px, -117px);
            opacity:0.8;
        }
        .pop-layer {
          display: block;
        }
      }

      .status-view {
        display: inline-block;
        width:12px;
        height:12px;
        @include icon-button(-408px, -54px);
        opacity:0.5;

      }

      .pop-layer {
        &.status {
          left: 0;
          top: 27px;
          .text {
            display: block;
            color: var(--text-color);
            padding: 5px 20px 5px 30px;
          }
        }
      }
    }
  }
}


/* cool check box css */
.checkbox-wrapper-9 {
  width:42px !important;
  .tgl {
    display: none;
    box-sizing: border-box;
    &:after {
      box-sizing: border-box;
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    &:before {
      box-sizing: border-box;
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    * {
      box-sizing: border-box;
      &:after {
        box-sizing: border-box;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
      }
      &:before {
        box-sizing: border-box;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
      }
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
    }
    + {
      .tgl-btn {
        box-sizing: border-box;
        outline: 0;
        display: block;
        width: 32px;
        height: 19px;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &::-moz-selection {
          background: none;
        }
        &::selection {
          background: none;
        }
        &:after {
          position: relative;
          display: block;
          content: "";
          width: 15px;
          height: 15px;
          box-shadow: var(--xsmall-box-shadow);
        }
        &:before {
          position: relative;
          display: block;
          content: "";
          width: 15px;
          height: 15px;
          display: none;
        }
      }
    }
    &::-moz-selection {
      background: none;
    }
    &::selection {
      background: none;
    }
    &:checked {
      + {
        .tgl-btn {
          &:after {
            left: 50%;
          }
        }
      }
    }
  }
  .tgl-flat {
    + {
      .tgl-btn {
        padding: 1px;
        transition: all 0.2s ease;
        background: #e0e0e0;
        border: 1px solid #e0e0e0;
        border-radius: 30px;
        &:after {
          transition: all 0.2s ease;
          background: white;
          content: "";
          border-radius: 30px;
        }
      }
    }
    &:checked {
      + {
        .tgl-btn {
          background: var(--primary-color);
          border: 1px solid var(--primary-color);
          &:after {
            left: 47%;
            background: white;
          }
        }
      }
    }
  }
}