.bg-gray {
  background-color: #f1f1f1;
}

.fw-bold {
  font-weight: bold;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.ol-gray-container {
  outline: 1px solid #cccccc;

  div {
    outline: 1px solid #cccccc;
    outline-offset: -1px;
  }
}

.tool-helper-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  .tool-helper {
    padding: 8px;
    background-color: rgba(34, 34, 34, 0.59);
    transition: opacity 1s ease-out;
    white-space: pre-wrap;
    &.hide {
      animation: fadeOut 1s forwards;
    }
  }
}

.side-tool-container {
  position: fixed;
  top: 180px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap:0;

  .tool-container {
    height:32px;
    margin-left: 4px;
    margin-bottom: 4px;

    &.selected {
      .tool-button {
        background-color: var(--toolbox-select-color);
        &:hover {
          background-color: var(--toolbox-select-color);
        }
      }
    }
    .tool-button {
      width: 32px;
      height: 32px;
      border-radius: 10px;      
      background-color: var(--background-color-silver);
      &:hover {
        background-color: #0f2f75;
      }
    }
  }
  .tool-group-container {
    display: flex;
    .tool-group {
      display: flex;
      &.hide {
        .tool-container:not(.selected) {
          display: none;
        }
      }
    }
  }

}

.layer-info-container {
  position: fixed;
  top: 100px;
  right: 48px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 12px;
  max-height: calc(100vh - 200px);
  overflow: auto;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--nav-color);

  .feature-container {
    display: flex;
    flex-direction: column;

    .feature-group {
      display: flex;

      .feature-name {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .properties-container {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
      }

      .properties-item {
        flex-grow: 1;
        width: 25%;

        .properties-label {
          text-align: center;
          padding: 2px;
        }

        .properties-value {
          text-align: center;
          padding: 2px;
          background-color: white;
        }

      }

      .properties-item[data-weight="4"] {
        flex-grow: 4;
        width: 100%;
      }

      .properties-item[data-weight="3"] {
        flex-grow: 3;
        width: 75%;
      }

      .properties-item[data-weight="2"] {
        flex-grow: 2;
        width: 50%;
      }

      .properties-item[data-weight="1"] {
        flex-grow: 1;
        width: 25%;
      }
    }
  }

  .feature-name-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    color: white;
    padding: 5px 10px;
    user-select: none;
  }

  .feature-name-toggle:hover {
    background-color: #353535;
  }

  .dropdown-icon {
    margin-left: 10px;
    transition: transform 0.2s ease-in-out;
  }

  .dropdown-icon.expanded {
    transform: rotate(180deg);
  }
}

.reset-direction {
  position: fixed;
  right: 8px;
  bottom: 8px;
  margin:0;
  padding:0;
  width:120px;
  height:120px;
  @include reset-direction;
  .reset-direction-tick {
    width:116px;
    height:116px;
    margin-right:-2px;
    background:url(../images/compass-direction.svg) center 0 no-repeat;
    background-size:19px 34px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.color-white {
  color: white;
}